.menu{
	list-style: none;
	float:right;
	padding-top:20px;
	padding-right:75px;
}
.menu li{
	display:inline-block;
}
.header{
	border-bottom: 1px solid black;
	background: #aca5ef;
}
.refer{
	padding-top: 10px;
}

.pag_num{
	font-size: 20px;
	padding-left: 100px;
}
.authUser{
	color: #007bff;
}
.user{
	color:orange;
}
.search{
	float:right;
	padding-top: 10px;
}